footer {
    position: relative;
    background-color: $footerBg;
    color: $whiteNeutral;
    ul,
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: $whiteNeutral;
        text-transform: capitalize;
    }
    /* * Icons*/
    .fa {
        margin-right: 20px;
    }
    .grid-footer {
        padding: 250px 30px 45px 30px;
        display: grid;
        grid-template-columns: 5;
        align-items: flex-start;
        align-self: center;
        @include breakpoint-min(small) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint-min(medium) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include breakpoint-min(large) {
            grid-template-columns: repeat(5, 1fr);
        }
        /**
        *
        * * logo in the footer
        */
        .logo-footer {
            grid-column: 1 /-1;
            margin-bottom: 50px;
        }
        /**
        *
        * * contact details and address
        */
        address,
        .nav-footer {
            margin-bottom: 20px;
            @include breakpoint-min(small) {
                margin-right: 40px;
            }
        }
        .address {
            text-align: left;
            @include breakpoint-min(large) {
                grid-column: 1 /3;
            }
        }
        .contacts {
            display: inline-block;
            &>* {
                margin-bottom: 10px;
            }
        } // * end of contact details
        /**
        *
        * * navbar in the footer
        */
        .nav-footer {
            display: flex;
            flex-direction: column;
            margin-left: -40px;
            flex-wrap: wrap;
            font-size: 20px;
            @include breakpoint-min(small) {
                margin-top: 0;
                flex-direction: row;
            }
            li {
                // margin-top: 20px;
                // margin-bottom: 40px;
                @include breakpoint-min(small) {
                    font-size: 1rem;
                    &:not(:last-child) {
                        margin-right: 25px;
                    }
                }
                @include breakpoint-min(xlarge) {
                    font-size: 1.1rem;
                    &:not(:last-child) {
                        margin-right: 40px;
                    }
                }
            }
        }
        .nav-footer-inner {
            padding-bottom: 40px;
            li {
                margin-left: -40px;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        } //* end of navbar
        /**
        *
        * * socmed links in the footer
        */
        .socmed-icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            @include breakpoint-min(medium) {
                grid-column: 1 /-1;
            }
            @include breakpoint-min(large) {
                grid-column: 5 /-1;
            }
            &>*:not(:last-child) {
                margin-right: 25px;
            }
            .icons {
                // display: inline-block;
                height: 50px;
                width: 50px;
            }
        }
        .attribution {
            margin-top: 50px;
            margin-bottom: -30px;
            grid-column: 1 /-1;
            display: inline-block;
            font-size: 1rem;
            a {
                color: $cyanGradient;
                font-weight: 700;
                text-decoration: underline;
                opacity: 0.7;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}