html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: $bodyFont;
    font-size: $bodySize;
    background-color: $mainBg;
}


/* images */

img {
    display: block;
    max-width: 100%;
}


/* Breakpoints */

$breakpoints: ( small: 499px, medium: 699px, large: 999px, xlarge: 1399px, max-small: 500px, max-medium: 900px, max-large: 1000px, max-xlarge: 1400px);
@mixin breakpoint-min($size) {
    $breakpoint-value: map-get($breakpoints, $size);
    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}

@mixin breakpoint-max($size) {
    $breakpoint-value: map-get($breakpoints, $size);
    @media screen and (max-width: $breakpoint-value) {
        @content;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}