header {
    //margin: -1px; // to remove the whitespace between the header and hero
    height: 100px;
    background-color: $introBg;
    @include breakpoint-min(large) {
        height: 200px;
        max-height: 200px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        color: $whiteNeutral;
        @include breakpoint-min(small) {
            padding-right: 40px;
            padding-left: 40px;
        }
        @include breakpoint-min(xlarge) {
            padding-right: 60px;
            padding-left: 60px;
            padding-top: 50px;
        }
        img {
            width: 75px;
            @include breakpoint-min(small) {
                width: 120px;
            }
            @include breakpoint-min(large) {
                width: 130px;
            }
            @include breakpoint-min(xlarge) {
                width: 180px;
            }
        }
        ul {
            display: flex;
            flex-direction: row;
            li {
                justify-content: center;
                list-style: none;
                font-family: $titleFont;
                font-size: 13px;
                cursor: pointer;
                &:not(:last-child) {
                    margin-right: 25px;
                }
                &:hover {
                    font-weight: 700;
                }
                @include breakpoint-min(small) {
                    font-size: $bodySize;
                }
                @include breakpoint-min(large) {
                    font-size: 1rem;
                    &:not(:last-child) {
                        margin-right: 50px;
                    }
                }
                @include breakpoint-min(xlarge) {
                    font-size: 1.2rem;
                }
            }
        }
    }
}