.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    font-family: $titleFont;
    background-color: $introBg;
    color: $whiteNeutral;
    /* background image*/
    &::after {
        position: absolute;
        content: '';
        height: 150px;
        width: 100%;
        bottom: 0;
        z-index: 0;
        background: url('../images/bg-curvy-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        @include breakpoint-min(small) {
            height: 335px;
        }
        @include breakpoint-min(medium) {
            height: 370px;
        }
        @include breakpoint-min(large) {
            height: 570px;
            background: url('../images/bg-curvy-desktop.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        @include breakpoint-min(xlarge) {
            height: 600px;
            background: url('../images/bg-curvy-desktop.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
    /* breakpoint for tablet*/
    &>* {
        position: relative;
        z-index: 1;
    }
    img {
        z-index: 1;
        padding: 10px 5px;
        @include breakpoint-min(small) {
            font-size: 40px;
            padding: 10px 110px;
        }
        @include breakpoint-min(medium) {
            width: 650px;
        }
    }
    h1 {
        font-size: 25px;
        @include breakpoint-min(small) {
            font-size: 35px;
        }
        @include breakpoint-min(large) {
            font-size: 40px;
            max-width: 680px;
        }
    }
    p {
        padding: 10px;
        @include breakpoint-min(small) {
            max-width: 550px;
        }
        @include breakpoint-min(medium) {
            font-size: 20px;
            max-width: 600px;
        }
    }
    button {
        display: inline-block;
        margin-bottom: 30px;
        width: 80%;
        background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        border: none;
        border-radius: 50px;
        color: $whiteNeutral;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        @include breakpoint-min(small) {
            max-width: 285px;
        }
        &:hover {
            background: $cyanGradient;
        }
    }
}