/* webpage colors */

//Primary
$introBg: #1c2431;
$mainBg: #181f2a;
$footerBg: #0b1523;
$testimonialBg: #202a3c;
//Accent
$cyanGradient: #65e2d9;
$blueGradient: #339ecc;
$redError: #ff4242;
// Neutral
$whiteNeutral: #ffffff;

/*fonts*/

$titleFont: 'Raleway',
sans-serif;
$bodyFont: 'Open Sans',
sans-serif;

/*fonts size*/

$titleSize: 1.25rem;
$bodySize: 1.14rem;