/* webpage colors */
/*fonts*/
/*fonts size*/
html {
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 1.14rem;
}

/* images */
img {
  display: block;
  max-width: 100%;
}

/* Breakpoints */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  height: 100px;
  background-color: #1c2431;
}

@media screen and (min-width: 999px) {
  header {
    height: 200px;
    max-height: 200px;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  color: #ffffff;
}

@media screen and (min-width: 499px) {
  header nav {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1399px) {
  header nav {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 50px;
  }
}

header nav img {
  width: 75px;
}

@media screen and (min-width: 499px) {
  header nav img {
    width: 120px;
  }
}

@media screen and (min-width: 999px) {
  header nav img {
    width: 130px;
  }
}

@media screen and (min-width: 1399px) {
  header nav img {
    width: 180px;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.70;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

header nav ul li:not(:last-child) {
  margin-right: 25px;
}

header nav ul li:hover {
  opacity: 1.5;
}

@media screen and (min-width: 499px) {
  header nav ul li {
    font-size: 1.14rem;
  }
}

@media screen and (min-width: 999px) {
  header nav ul li {
    font-size: 1rem;
  }
  header nav ul li:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1399px) {
  header nav ul li {
    font-size: 1.2rem;
  }
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Raleway", sans-serif;
  background-color: #1c2431;
  color: #ffffff;
  /* background image*/
  /* breakpoint for tablet*/
}

.hero::after {
  position: absolute;
  content: '';
  height: 150px;
  width: 100%;
  bottom: 0;
  z-index: 0;
  background: url(../images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 499px) {
  .hero::after {
    height: 335px;
  }
}

@media screen and (min-width: 699px) {
  .hero::after {
    height: 370px;
  }
}

@media screen and (min-width: 999px) {
  .hero::after {
    height: 570px;
  }
}

@media screen and (min-width: 1399px) {
  .hero::after {
    height: 715px;
  }
}

.hero > * {
  position: relative;
  z-index: 1;
}

.hero img {
  z-index: 1;
  padding: 10px 5px;
}

@media screen and (min-width: 499px) {
  .hero img {
    font-size: 40px;
    padding: 10px 110px;
  }
}

.hero h1 {
  font-size: 25px;
}

@media screen and (min-width: 499px) {
  .hero h1 {
    font-size: 35px;
  }
}

@media screen and (min-width: 999px) {
  .hero h1 {
    font-size: 40px;
    max-width: 680px;
  }
}

.hero p {
  padding: 10px;
}

@media screen and (min-width: 499px) {
  .hero p {
    max-width: 550px;
  }
}

@media screen and (min-width: 699px) {
  .hero p {
    font-size: 20px;
    max-width: 600px;
  }
}

.hero button {
  display: inline-block;
  margin-bottom: 30px;
  width: 80%;
  background-color: #65e2d9;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (min-width: 499px) {
  .hero button {
    max-width: 285px;
  }
}

.feature {
  padding-top: 50px;
  background-color: #181f2a;
}

.feature__grid {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 699px) {
  .feature__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.feature__items {
  text-align: center;
  color: #ffffff;
  min-height: 150px;
}

.feature__items img {
  margin: auto;
}

.feature__items h2 {
  font-size: 1.2rem;
}

@media screen and (min-width: 699px) {
  .feature__items h2 {
    font-size: 1.35rem;
  }
}

.feature__items p {
  padding: 10px 20px;
  font-size: 1rem;
}

@media screen and (min-width: 699px) {
  .feature__items p {
    font-size: 1.15rem;
  }
}

.productive {
  color: #ffffff;
  background-color: #181f2a;
}

.productive .grid {
  display: -ms-grid;
  display: grid;
  max-width: 1300px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 120px 10px;
  margin: 0 auto;
}

@media screen and (min-width: 699px) {
  .productive .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;
    padding-right: 20px;
  }
}

.productive .grid-left {
  margin-bottom: 25px;
}

.productive .grid-left img {
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 699px) {
  .productive .grid-left img {
    width: 100%;
  }
}

.productive .grid-right {
  padding: 20px;
}

.productive .grid-right h3 {
  font-size: 18px;
}

@media screen and (min-width: 699px) {
  .productive .grid-right h3 {
    font-size: 25px;
  }
}

.productive .grid-right P {
  font-size: 14px;
}

.productive .grid-right a {
  position: relative;
  text-decoration: none;
  color: #65e2d9;
  font-size: 14px;
}

@media screen and (min-width: 999px) {
  .productive .grid-right a {
    opacity: 0.75;
  }
}

.productive .grid-right a:hover {
  opacity: 1;
}

.productive .grid-right a::after {
  position: absolute;
  top: 105%;
  right: 0;
  left: 0;
  content: '';
  height: 2px;
  width: 100%;
  background-color: #65e2d9;
}

.productive .grid-right a .icon-arrow {
  position: absolute;
  display: inline-block;
  top: 3px;
  height: 16px;
  width: 100%;
  background: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
}

.testimonials {
  color: #ffffff;
  background-color: #181f2a;
}

.testimonials .grid-testimonials {
  display: -ms-grid;
  display: grid;
  max-width: 1300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .grid-testimonials .testimonial {
  background-color: #202a3c;
}
/*# sourceMappingURL=style.css.map */