/* webpage colors */
/*fonts*/
/*fonts size*/
html {
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 1.14rem;
}

/* images */
img {
  display: block;
  max-width: 100%;
}

/* Breakpoints */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  height: 100px;
  background-color: #1c2431;
}

@media screen and (min-width: 999px) {
  header {
    height: 200px;
    max-height: 200px;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  color: #ffffff;
}

@media screen and (min-width: 499px) {
  header nav {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1399px) {
  header nav {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 50px;
  }
}

header nav img {
  width: 75px;
}

@media screen and (min-width: 499px) {
  header nav img {
    width: 120px;
  }
}

@media screen and (min-width: 999px) {
  header nav img {
    width: 130px;
  }
}

@media screen and (min-width: 1399px) {
  header nav img {
    width: 180px;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  cursor: pointer;
}

header nav ul li:not(:last-child) {
  margin-right: 25px;
}

header nav ul li:hover {
  font-weight: 700;
}

@media screen and (min-width: 499px) {
  header nav ul li {
    font-size: 1.14rem;
  }
}

@media screen and (min-width: 999px) {
  header nav ul li {
    font-size: 1rem;
  }
  header nav ul li:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1399px) {
  header nav ul li {
    font-size: 1.2rem;
  }
}

.hero {
  font-family: "Raleway", sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  background-color: #1c2431;
  color: #ffffff;
  /* breakpoint for tablet*/
}

@media screen and (min-width: 499px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero img {
  padding: 10px 5px;
}

.hero h1 {
  font-size: 25px;
}

.hero p {
  padding: 10px;
  font-size: 15px;
}

.hero button {
  display: inline-block;
  margin-bottom: 30px;
  width: 80%;
  background-color: #65e2d9;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */