/* webpage colors */
/*fonts*/
/*fonts size*/
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 1.14rem;
  background-color: #181f2a;
}

/* images */
img {
  display: block;
  max-width: 100%;
}

/* Breakpoints */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  height: 100px;
  background-color: #1c2431;
}

@media screen and (min-width: 999px) {
  header {
    height: 200px;
    max-height: 200px;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  color: #ffffff;
}

@media screen and (min-width: 499px) {
  header nav {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1399px) {
  header nav {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 50px;
  }
}

header nav img {
  width: 75px;
}

@media screen and (min-width: 499px) {
  header nav img {
    width: 120px;
  }
}

@media screen and (min-width: 999px) {
  header nav img {
    width: 130px;
  }
}

@media screen and (min-width: 1399px) {
  header nav img {
    width: 180px;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.70;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

header nav ul li:not(:last-child) {
  margin-right: 25px;
}

header nav ul li:hover {
  opacity: 1.5;
}

@media screen and (min-width: 499px) {
  header nav ul li {
    font-size: 1.14rem;
  }
}

@media screen and (min-width: 999px) {
  header nav ul li {
    font-size: 1rem;
  }
  header nav ul li:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1399px) {
  header nav ul li {
    font-size: 1.2rem;
  }
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Raleway", sans-serif;
  background-color: #1c2431;
  color: #ffffff;
  /* background image*/
  /* breakpoint for tablet*/
}

.hero::after {
  position: absolute;
  content: '';
  height: 150px;
  width: 100%;
  bottom: 0;
  z-index: 0;
  background: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 499px) {
  .hero::after {
    height: 335px;
  }
}

@media screen and (min-width: 699px) {
  .hero::after {
    height: 370px;
  }
}

@media screen and (min-width: 999px) {
  .hero::after {
    height: 570px;
  }
}

@media screen and (min-width: 1399px) {
  .hero::after {
    height: 715px;
  }
}

.hero > * {
  position: relative;
  z-index: 1;
}

.hero img {
  z-index: 1;
  padding: 10px 5px;
}

@media screen and (min-width: 499px) {
  .hero img {
    font-size: 40px;
    padding: 10px 110px;
  }
}

.hero h1 {
  font-size: 25px;
}

@media screen and (min-width: 499px) {
  .hero h1 {
    font-size: 35px;
  }
}

@media screen and (min-width: 999px) {
  .hero h1 {
    font-size: 40px;
    max-width: 680px;
  }
}

.hero p {
  padding: 10px;
}

@media screen and (min-width: 499px) {
  .hero p {
    max-width: 550px;
  }
}

@media screen and (min-width: 699px) {
  .hero p {
    font-size: 20px;
    max-width: 600px;
  }
}

.hero button {
  display: inline-block;
  margin-bottom: 30px;
  width: 80%;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border: none;
  border-radius: 50px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (min-width: 499px) {
  .hero button {
    max-width: 285px;
  }
}

.hero button:hover {
  background: #65e2d9;
}

.feature {
  padding-top: 50px;
  background-color: #181f2a;
}

.feature__grid {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 699px) {
  .feature__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.feature__items {
  text-align: center;
  color: #ffffff;
  min-height: 150px;
}

.feature__items img {
  margin: auto;
}

.feature__items h2 {
  font-size: 1.2rem;
}

@media screen and (min-width: 699px) {
  .feature__items h2 {
    font-size: 1.35rem;
  }
}

.feature__items p {
  padding: 10px 20px;
  font-size: 1rem;
}

@media screen and (min-width: 699px) {
  .feature__items p {
    font-size: 1.15rem;
  }
}

.productive {
  color: #ffffff;
  background-color: #181f2a;
}

.productive .grid {
  display: -ms-grid;
  display: grid;
  max-width: 1300px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 120px 10px;
  margin: 0 auto;
}

@media screen and (min-width: 699px) {
  .productive .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;
    padding-right: 20px;
  }
}

.productive .grid-left {
  margin-bottom: 25px;
}

.productive .grid-left img {
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 699px) {
  .productive .grid-left img {
    width: 100%;
  }
}

.productive .grid-right {
  padding: 20px;
}

.productive .grid-right h3 {
  font-size: 18px;
}

@media screen and (min-width: 699px) {
  .productive .grid-right h3 {
    font-size: 25px;
  }
}

.productive .grid-right P {
  font-size: 14px;
}

.productive .grid-right a {
  position: relative;
  text-decoration: none;
  color: #65e2d9;
  font-size: 14px;
}

@media screen and (min-width: 999px) {
  .productive .grid-right a {
    opacity: 0.75;
  }
}

.productive .grid-right a:hover {
  opacity: 1;
}

.productive .grid-right a::after {
  position: absolute;
  top: 105%;
  right: 0;
  left: 0;
  content: '';
  height: 2px;
  width: 100%;
  background-color: #65e2d9;
}

.productive .grid-right a .icon-arrow {
  position: absolute;
  display: inline-block;
  top: 3px;
  height: 16px;
  width: 100%;
  background: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
}

.testimonials {
  position: relative;
  color: #ffffff;
  background-color: #181f2a;
  height: 100%;
}

.testimonials .grid-testimonials {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  max-width: 1300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 340px;
}

@media screen and (min-width: 699px) {
  .testimonials .grid-testimonials {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 999px) {
  .testimonials .grid-testimonials {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.testimonials .grid-testimonials:first-child::before {
  position: absolute;
  content: '';
  top: 0;
  left: 45px;
  width: 25px;
  height: 20px;
  background: url(../images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 499px) {
  .testimonials .grid-testimonials:first-child::before {
    left: 25px;
  }
}

.testimonials .grid-testimonials .testimonial {
  margin: 20px 40px;
  line-height: 1.8;
  background-color: #202a3c;
}

@media screen and (min-width: 499px) {
  .testimonials .grid-testimonials .testimonial {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.testimonials .grid-testimonials .testimonial .text {
  padding: 20px;
  font-size: 12px;
}

@media screen and (min-width: 499px) {
  .testimonials .grid-testimonials .testimonial .text {
    font-size: 14px;
  }
}

@media screen and (min-width: 999px) {
  .testimonials .grid-testimonials .testimonial .text {
    font-size: 16px;
  }
}

.testimonials .grid-testimonials .testimonial .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
  margin-right: auto;
}

.testimonials .grid-testimonials .testimonial .profile-image {
  width: 30px;
  margin-right: 10px;
}

.testimonials .grid-testimonials .testimonial .profile-image img {
  border-radius: 50%;
}

@media screen and (min-width: 999px) {
  .testimonials .grid-testimonials .testimonial .profile-image {
    width: 40px;
    margin-right: 15px;
  }
}

.testimonials .grid-testimonials .testimonial .profile-text {
  margin-top: -12px;
}

.testimonials .grid-testimonials .testimonial .profile-text h4 {
  font-size: 13px;
  margin-bottom: -10px;
}

@media screen and (min-width: 999px) {
  .testimonials .grid-testimonials .testimonial .profile-text {
    font-size: 18px;
  }
}

.testimonials .grid-testimonials .testimonial .profile-text span {
  font-size: 12px;
}

.get-started {
  position: absolute;
  margin: 0 20px;
  padding-top: 50px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  top: 0%;
  left: 50%;
  min-width: 340px;
  max-width: 865px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-color: #1c2431;
  border-radius: 10px;
  -webkit-box-shadow: 13px 6px 19px -6px rgba(0, 0, 0, 0.52);
          box-shadow: 13px 6px 19px -6px rgba(0, 0, 0, 0.52);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.get-started h1 {
  font-size: 18px;
  text-transform: capitalize;
}

@media screen and (min-width: 699px) {
  .get-started h1 {
    font-size: 2rem;
    text-align: center;
  }
}

.get-started p {
  font-size: 14px;
  text-align: justify;
}

@media screen and (min-width: 699px) {
  .get-started p {
    font-size: 1rem;
    text-align: center;
  }
}

.get-started .forms {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.get-started .forms input {
  width: 100%;
  padding: 13px 30px;
  border-radius: 20px;
  border: none;
  color: gray;
  margin-bottom: 20px;
}

@media screen and (min-width: 699px) {
  .get-started .forms input {
    display: inline-block;
    width: 70%;
    margin-right: 20px;
  }
}

.get-started .forms button {
  width: 100%;
  padding: 13px 30px;
  border-radius: 20px;
  border: none;
  height: 43px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  cursor: pointer;
}

.get-started .forms button:hover {
  background: #65e2d9;
}

@media screen and (min-width: 699px) {
  .get-started .forms button {
    display: inline-block;
    width: 30%;
    font-size: 14px;
    padding: 5px 10px;
  }
}

@media screen and (min-width: 699px) {
  .get-started .forms {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.get-started .error {
  display: none;
  position: absolute;
  top: 87%;
  left: 50%;
  font-size: 12px;
  color: #ff4242;
  width: 100%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (min-width: 699px) {
  .get-started .error {
    top: 76%;
    text-align: left;
    -webkit-transform: translate(-42%, 50%);
            transform: translate(-42%, 50%);
  }
}

@media screen and (max-width: 499px) {
  .get-started {
    width: 300px;
    -webkit-transform: translate(-56%, -50%);
            transform: translate(-56%, -50%);
  }
}

@media screen and (min-width: 499px) {
  .get-started {
    width: 90%;
    -webkit-transform: translate(-54%, -50%);
            transform: translate(-54%, -50%);
  }
}

@media screen and (min-width: 699px) {
  .get-started {
    -webkit-transform: translate(-53%, -50%);
            transform: translate(-53%, -50%);
  }
}

@media screen and (min-width: 999px) {
  .get-started {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1399px) {
  .get-started {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

footer {
  position: relative;
  background-color: #0b1523;
  color: #ffffff;
  /* * Icons*/
}

footer ul,
footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
}

footer .fa {
  margin-right: 20px;
}

footer .grid-footer {
  padding: 250px 30px 45px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5;
      grid-template-columns: 5;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-row-align: center;
      align-self: center;
  /**
        *
        * * logo in the footer
        */
  /**
        *
        * * contact details and address
        */
  /**
        *
        * * navbar in the footer
        */
  /**
        *
        * * socmed links in the footer
        */
}

@media screen and (min-width: 499px) {
  footer .grid-footer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 699px) {
  footer .grid-footer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 999px) {
  footer .grid-footer {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

footer .grid-footer .logo-footer {
  grid-column: 1 /-1;
  margin-bottom: 50px;
}

footer .grid-footer address,
footer .grid-footer .nav-footer {
  margin-bottom: 20px;
}

@media screen and (min-width: 499px) {
  footer .grid-footer address,
  footer .grid-footer .nav-footer {
    margin-right: 40px;
  }
}

footer .grid-footer .address {
  text-align: left;
}

@media screen and (min-width: 999px) {
  footer .grid-footer .address {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 /3;
  }
}

footer .grid-footer .contacts {
  display: inline-block;
}

footer .grid-footer .contacts > * {
  margin-bottom: 10px;
}

footer .grid-footer .nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
}

@media screen and (min-width: 499px) {
  footer .grid-footer .nav-footer {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 499px) {
  footer .grid-footer .nav-footer li {
    font-size: 1rem;
  }
  footer .grid-footer .nav-footer li:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (min-width: 1399px) {
  footer .grid-footer .nav-footer li {
    font-size: 1.1rem;
  }
  footer .grid-footer .nav-footer li:not(:last-child) {
    margin-right: 40px;
  }
}

footer .grid-footer .nav-footer-inner {
  padding-bottom: 40px;
}

footer .grid-footer .nav-footer-inner li {
  margin-left: -40px;
}

footer .grid-footer .nav-footer-inner li:not(:last-child) {
  margin-bottom: 20px;
}

footer .grid-footer .socmed-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 699px) {
  footer .grid-footer .socmed-icons {
    grid-column: 1 /-1;
  }
}

@media screen and (min-width: 999px) {
  footer .grid-footer .socmed-icons {
    grid-column: 5 /-1;
  }
}

footer .grid-footer .socmed-icons > *:not(:last-child) {
  margin-right: 25px;
}

footer .grid-footer .socmed-icons .icons {
  height: 50px;
  width: 50px;
}

footer .grid-footer .attribution {
  margin-top: 50px;
  margin-bottom: -30px;
  grid-column: 1 /-1;
  display: inline-block;
  font-size: 1rem;
}

footer .grid-footer .attribution a {
  color: #65e2d9;
  font-weight: 700;
  text-decoration: underline;
  opacity: 0.7;
}

footer .grid-footer .attribution a:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */